 body {
     background-color: rgb(251, 213, 144);
 }

 #box {
     background-color: rgb(50, 189, 254);
     border: 2px solid black;
     margin: auto;
     width: 400px;
     height: 400px;
     margin-top: 30px;
     font-size: 30px;
     padding-left: 30px;
 }

 input {
     font-size: 30px;
     color: black;
     text-align: center;
 }

 button {
     background-color: black;
     color: white;
     font-size: 30px;
     margin-left: 120px;
     margin-top: 20px;
 }

 #h1 {
     text-align: center;
 }